.container {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    margin-right: 2px;
}

.text {
   display: inline-block;
    height: 100%;
    padding: 0 2px;
    vertical-align: middle;
}

.icon {
    height: 35px;
    width: 35px;
    padding: 5px;
    vertical-align: middle;
}

.container:hover {
    background-color: #ebe8e8;
    cursor: pointer;
}

.icon:hover + .text {
    background-color: #ebe8e8;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }