.actionMenu {
    background-color: var(--main-background-color);
    border-bottom: 2px var(--border-color) solid;
    border-top: 2px var(--border-color) solid;
    display: flex;
    align-items: center;
}

.section {
    position: relative;
    padding: 5px 5px;
}